@tailwind base;

@tailwind components;

@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nunito:wght@200;300;400;600;700;800;900&family=Rubik:ital,wght@0,500;0,700;1,500');


span.header {
  font-family: "Playfair Display", serif;
  position: absolute;
  display: inline-block;
  width: 500px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  left: 2em;
  font-size: 8em;
  line-height: 1em;
}

@media only screen and (max-width: 750px) {
  span.header {
    top: 250px;
    left: 50px;
    font-size: 6em;
    width: 200px;
  }
  a.bottom-left {
    display: none;
  }
}


